<%- include('../../views/partials/header.ejs') %>
    <div class="container">

        <div class="enlaces">
            <a class="btn btn-1" href="">men collection</a>
            <a class="btn btn-1" href="">women collection</a>
            <a class="btn btn-1" href="">kids collection</a>
        </div>

        <div class="collection">
            <h2>feature collection</h2>
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nunc vulput <br>Lorem ipsum dolor sit amet.
                consectetur adipisincg elit</h4>
        </div>

        <%- include('../../views/partials/carousel.ejs') %>

            <div class="img-overlay">
                <img class="aviator" src="img/aviator-section.png" alt="">
                <div class="color-overlay"></div>
            </div>

            <div class="section">
                <h2>unique and elegent style with <span class="span-red">10+ features</span></h2>
                <div class="container-cards">
                    <div class="card">
                        <img src="img/textured-hinge.png" alt="">
                        <h3>textured hinge</h3>
                        <h5>Fashion and lightness ch the inspiration <br> of metal design hinge. opening and <br>
                            closing
                            smoothly</h5>
                    </div>

                    <div class="card">
                        <img src="img/silicone-pads.png" alt="">
                        <h3>silicone pads</h3>
                        <h5>Fashion and lightness ch the inspiration <br> of metal design hinge. opening and <br>
                            closing
                            smoothly</h5>
                    </div>

                    <div class="card">
                        <img src="img/individual-temples.png" alt="">
                        <h3>individual temples</h3>
                        <h5>Fashion and lightness ch the inspiration <br> of metal design hinge. opening and <br>
                            closing
                            smoothly</h5>
                    </div>

                    <div class="card">
                        <img src="img/elegent-color.png" alt="">
                        <h3>elegent color</h3>
                        <h5>Fashion and lightness ch the inspiration <br> of metal design hinge. opening and <br>
                            closing
                            smoothly</h5>
                    </div>
                </div>

            </div>

    </div>
    <%- include('../../views/partials/elegent-design.ejs') %>
    <%- include('../../views/partials/carousel.ejs') %>
    <%- include('../../views/partials/carousel-marcas.ejs') %>
    <%- include('../../views/partials/uniquedesign.ejs') %>
    <%- include('../../views/partials/footer.ejs') %>
